@import "compass/css3";

@import "../core/variables";
@import "../vendor/foundation-settings";

@import "../modules/typography";


//
// Page specific navigation
//
#nav-trigger {
    width: 1px;
    height: 1px;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    z-index: 100;
}

//
// Hero
//
.home-hero-wrapper {

    overflow: hidden;

    @media #{$small-only} {
        height: 450px;
    }

    @media #{$medium-up} {
        height: 650px;
    }

    .primary-header {

        @media #{$medium-up} {
            margin-top: 19px;
        }

        @media #{$large-up} {
            margin-top: 19px;
        }

        @media #{$xlarge-up} {
            margin-top: 23px;
        }

        h1 {
            @media #{$small-only} {
                padding: 0 20px;
            }
        }
    }


    background-image: url('../../images/assets/hero/mobile-bg.png');
    background-size: cover;

	hr {
		border: 2px solid $color-white-primary;
		@include border-radius(4px);
	}

	.home-hero-explore-wrapper {

        @media #{$small-only} {
            position: absolute;
            bottom: 36px;
        }

        @media #{$medium-up} {
            position: absolute;
            bottom: 48px;
        }

	}

    .inner-content-wrapper {
        position: relative;
        z-index: 50;
        width: 100%;
        height: 100%;
        @include opacity(0);
        visibility: hidden;

        &.ready {
            visibility: visible;
            @include opacity(1);
            @include transition(opacity $transition-speed-slow);
        }
    }

    .video-wrapper-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-purple-dark, 0);
        z-index: 10;

        @media #{$small-only} {
            display: none;
        }

        &.ready {
            background-color: rgba($color-purple-dark, 0.8);
            @include transition(background-color 2000ms ease);
        }
    }

    .video-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-black-primary;

        @media #{$small-only} {
            display: none;
        }

        video {
            position: absolute;
            left: 0;
            top: 0;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.home-featured-wrapper {

    @media #{$small-only} {
        height: 174px;
    }

    @media #{$medium-up} {
        height: 396px;
    }



    &.left, &.right {
        background-size: cover;
    }

    &.left {
        background-image: url('../../images/assets/dragon-bw.png');
    }

    &.right {
        background-image: url('../../images/assets/icmd-bw.png');
    }

    .row {
        position: relative;
        z-index: 2;
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        @include opacity(0.8);


    }
}

//
// Services
//
.home-services-diagram-wrapper {
	svg {
		height: 100%;
		width: 100%;
	}
}

.home-services-box,
.home-services-box--small {

    overflow: hidden;
    @include transition(background-color $transition-speed-fast);
    background-color: $color-purple-dark;

    @media #{$small-only} {
        // min-height: 220px;
        border-bottom: 1px solid $color-purple-light;

        .arrow-wrapper {
            position: absolute;
            top: 30px;
            right: 18px;
        }

    }

    @media #{$medium-up} {
        // min-height: 220px;
        border-right: 1px solid $color-purple-light;

        .arrow-wrapper {
            position: absolute;
            bottom: 24px;
        }
    }

    @media #{$xlarge-up} {
        // min-height: 220px;
        // height: 220px;
    }

    &:last-child {
        @media #{$small-only} {
            border-bottom: none;
        }
        @media #{$medium-up} {
            border-right: none;
        }
    }

    &:hover {
        @include transition(background-color $transition-speed-fast);
        background-color: $color-purple-primary;
        cursor: pointer;
    }

    @media #{$medium-only} {
        &:nth-child(1n+2) {
            border-top: 1px solid $color-purple-light;
        }
    }

}

//
// Portfolio
//
.home-portfolio-box {
    // height: 480px;
    overflow: hidden;
    padding: 0;

    .equal-height-ratio {
        margin-top: 100%;
    }

    .inner-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .hover-wrapper {
            @include opacity(0);
            @include transition(opacity $transition-speed-normal);
            z-index: 2;

            width: 100%;
            height: 100%;
            display: block;
            position: absolute;

            @media #{$small-only} {
                @include opacity(1);
            }

            &:hover {
                @include opacity(1);
                @include transition(opacity $transition-speed-normal);
            }

            .title-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 90px;
                display: block;
                z-index: 2;
                background-color: $color-white-primary;
                overflow: hidden;

                @include opacity(0.9);

                @media #{$small-only} {
                    display: none;
                }

                span {
                    position: absolute;
                    left: 28px;
                    top: 28px;
                }
            }
        }
    }
}

//
// Company / bios
//
.home-company-box {
    overflow: hidden;
    padding: 0;

    &.one, &.two, &.three, &.four, &.five, &.six {
        background-size: cover;
    }

    &.one {
        background-image: url('../../images/assets/eye-heart-bw.png');
    }

    &.two {
        background-image: url('../../images/assets/jason-tasso-bw.png');
    }

    &.four {
        background-image: url('../../images/assets/tablet-rasa-bw.png');
    }

    .equal-height-ratio {
        margin-top: 100%;
    }

    .inner-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: 2;

        @media #{$small-only} {
            padding: 18px;
        }

        @media #{$medium-up} {
            padding: 30px 24px;
        }
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        @include opacity(0.8);

        &.opaque {
            @include opacity(1);
        }
    }

    #twitter-link {
        @include transition(color $transition-speed-normal);

        &:hover {
            color: $color-white-primary !important;
            @include transition(color $transition-speed-normal);
        }
    }

    span.tweets {
        a {
            @include transition(color $transition-speed-normal);
            &:hover {
                color: $color-white-primary !important;
                @include transition(color $transition-speed-normal);
            }
        }
    }
}

//
// Subscribe form
//

@mixin email-placeholder-style() {
    color: $color-purple-primary;
    font-family: $font-family-national-italic;
}

form.subscribe {
    #email-input {
        border: 4px solid $color-white-primary;
        background-color: transparent;

        @include box-shadow(none);

        &::-webkit-input-placeholder {
            @include email-placeholder-style();
        }

        &:-moz-placeholder {
            @include email-placeholder-style();
        }

        &::-moz-placeholder {
            @include email-placeholder-style();
        }

        &:-ms-input-placeholder {
            @include email-placeholder-style();
        }
    }

    a.button {
        padding-top: 12px !important;
    }
}


#subscribe-form-status {
    margin-top: 10px;

    @include opacity(0);
    @include transition(opacity $transition-speed-fast);

    &.active {
        @include opacity(1);
        @include transition(opacity $transition-speed-fast);
    }
}
