// Build out all text, button, and BG colors.
@each $color in $colors {
    $name: nth($color, 1);
    $hex: nth($color, 2);

    .bg-color-#{$name} {
        background-color: $hex !important;
    }

    .font-color-#{$name} {
        color: $hex !important;
    }

    .underline-color-#{$name} {
        @include transition(border-color $transition-speed-fast);
        border-bottom: 1px solid $hex;

        &:hover {
            @include transition(border-color $transition-speed-fast);
            border-bottom: 1px solid transparent;
        }
    }
}
