// Inputs
input {

    @include box-shadow(none);
    margin: 0 !important;

    font-family: $font-family-national !important;

    @media #{$small-only} {
        height: 42px;
        font-size: 18px !important;
        line-height: 24px !important;
    }

    @media #{$medium-only} {
        height: 42px;
        font-size: 18px !important;
        line-height: 24px !important;
    }

    @media #{$large-only} {
        height: 42px;
        font-size: 18px !important;
        line-height: 24px !important;
    }

    @media #{$xlarge-up} {
        height: 48px;
        font-size: 22px !important;
        line-height: 30px !important;
    }

    &:focus {
        outline: none;
    }
}
