// Modifier Classes

.text-upper {
    text-transform: uppercase;
}

//
// Default
//

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-family-national;
}

p {
    font-family: $font-family-national;
}

a {
    text-decoration: none;
}

//
// Headers
//
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-tiempos;
    margin: 0;
}

// Defining H1 for SEO purposes.
h1 {
    @media #{$small-up} {
        font-size: 34px;
        line-height: 36px;
        margin-top: -4px;
        margin-bottom: -8px;

    }
    @media #{$medium-up} {
        font-size: 44px;
        line-height: 48px;
        margin-top: -7px;
        margin-bottom: -8px;
    }

    @media #{$xlarge-up} {
        font-size: 60px;
        line-height: 66px;
        margin-top: -7px;
        margin-bottom: -16px;
    }
}

//
// Paragraph styles constructed by:
// @mixin
// @include .class-name
//

@mixin font-tiempos-header-midhead() {
    font-family: $font-family-tiempos !important;
    display: block;

    @media #{$small-only} {
        font-size: 25px;
        line-height: 30px;
        margin-top: -4px;
        margin-bottom: -8px;
    }

    @media #{$medium-up} {
        font-size: 30px;
        line-height: 36px;
        margin-top: -4px;
        margin-bottom: -10px;
    }

    @media #{$xlarge-up} {
        font-size: 40px;
        line-height: 48px;
        margin-top: -6px;
        margin-bottom: -13px;
    }
}

.font-tiempos-header-midhead {
    @include font-tiempos-header-midhead();
}

.font-tiempos-header-midhead-sub {
    @include font-tiempos-header-midhead();

    @media #{$small-only} {
        font-size: 20px;
        line-height: 24px;
        margin-top: -3px;
        margin-bottom: -6px;
    }
}

@mixin font-national-header-subhead() {
    font-family: $font-family-national-bold !important;
    display: block;

    @media #{$small-only} {
        font-size: 18px;
        line-height: 24px;
        margin-top: -6px;
        margin-bottom: -7px;
    }

    @media #{$medium-up} {
        font-size: 20px;
        line-height: 26px;
        margin-top: -7px;
        margin-bottom: -7px;
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 30px;
        margin-top: -8px;
        margin-bottom: -9px;
    }
}

.font-national-header-subhead {
    @include font-national-header-subhead();
}

@mixin font-national-header-bold() {
    font-family: $font-family-national-bold !important;
    display: block;

    @media #{$small-only} {
        font-size: 18px;
        line-height: 24px;
        margin-top: -6px;
        margin-bottom: -7px;
    }

    @media #{$medium-up} {
        font-size: 22px;
        line-height: 26px;
        margin-top: -6px;
        margin-bottom: -7px;
    }

    @media #{$xlarge-up} {
        font-size: 28px;
        line-height: 30px;
        margin-top: -6px;
        margin-bottom: -7px;
    }
}

.font-national-header-bold {
    @include font-national-header-bold();
}

@mixin font-national-header-bold-sub() {
    font-family: $font-family-national-bold !important;
    display: block;

    @media #{$small-only} {
        font-size: 18px;
        line-height: 24px;
        margin-top: -6px;
        margin-bottom: -7px;
    }

    @media #{$medium-up} {
        font-size: 20px;
        line-height: 26px;
        margin-top: -7px;
        margin-bottom: -7px;
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 30px;
        margin-top: -8px;
        margin-bottom: -9px;
    }
}

.font-national-header-bold-sub {
    @include font-national-header-bold-sub();
}

@mixin font-national-header-bold-cat() {
    font-family: $font-family-national-bold !important;
    display: block;

    @media #{$small-only} {
        font-size: 24px;
        line-height: 24px;
        margin-top: -4px;
        margin-bottom: -5px;
    }

    @media #{$medium-up} {
        font-size: 28px;
        line-height: 30px;
        margin-top: -6px;
        margin-bottom: -7px;
    }

}

.font-national-header-bold-cat {
    @include font-national-header-bold-cat();
}

// @todo here.
@mixin font-national-header-regular() {
    font-family: $font-family-national !important;
    display: block;

    @media #{$small-only} {
        font-size: 18px;
        line-height: 24px;
        margin-top: -6px;
        margin-bottom: -7px;
    }

    @media #{$medium-up} {
        font-size: 22px;
        line-height: 28px;
        margin-top: -7px;
        margin-bottom: -8px;
    }

    @media #{$xlarge-up} {
        font-size: 28px;
        line-height: 30px;
        margin-top: -6px;
        margin-bottom: -7px;
    }
}

.font-national-header-regular {
    @include font-national-header-regular();
}

@mixin font-national-header-regular-sub() {
    font-family: $font-family-national !important;
    display: block;

    @media #{$small-only} {
        font-size: 18px;
        line-height: 24px;
        margin-top: -6px;
        margin-bottom: -7px;
    }

    @media #{$medium-up} {
        font-size: 20px;
        line-height: 26px;
        margin-top: -7px;
        margin-bottom: -7px;
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 30px;
        margin-top: -8px;
        margin-bottom: -9px;
    }
}

.font-national-header-regular-sub {
    @include font-national-header-regular-sub();
}

@mixin font-national-button() {
    font-family: $font-family-national-bold !important;

    @media #{$small-only} {
        font-size: 18px;
        line-height: 24px;
    }

    @media #{$medium-up} {
        font-size: 20px;
        line-height: 26px;
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 30px;
    }
}

.font-national-button {
    @include font-national-button();
}

@mixin font-national-paragraph() {
    font-family: $font-family-national !important;
    display: block;

    @media #{$small-only} {
        font-size: 18px;
        line-height: 24px;
        margin-top: -6px;
        margin-bottom: -7px;
    }

    @media #{$medium-up} {
        font-size: 20px;
        line-height: 26px;
        margin-top: -7px;
        margin-bottom: -7px;
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 30px;
        margin-top: -8px;
        margin-bottom: -8px;
    }
}

.font-national-paragraph {
    @include font-national-paragraph();
}

@mixin font-national-paragraph-italic() {
    font-family: $font-family-national-italic !important;
    display: block;

    @media #{$small-only} {
        font-size: 18px;
        line-height: 24px;
        margin-top: -6px;
        margin-bottom: -7px;
    }

    @media #{$medium-up} {
        font-size: 20px;
        line-height: 26px;
        margin-top: -7px;
        margin-bottom: -7px;
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 30px;
        margin-top: -8px;
        margin-bottom: -9px;
    }
}

.font-national-paragraph-italic {
    @include font-national-paragraph-italic();
}

@mixin font-national-tagline-footer() {
    font-family: $font-family-national-bold !important;
    display: block;

    @media #{$small-only} {
        font-size: 15px;
        line-height: 30px;
        margin-top: -10px;
        margin-bottom: -11px;
    }

    @media #{$medium-up} {
        font-size: 18px;
        line-height: 30px;
        margin-top: -9px;
        margin-bottom: -10px;
    }

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 30px;
        margin-top: -8px;
        margin-bottom: -9px;
    }
}

.font-national-tagline-footer {
    @include font-national-tagline-footer();
}




//
// Monospace style / Pitch family
//

@mixin font-pitch-caps() {
    font-family: $font-family-pitch !important;
    display: block;

    @media #{$small-only} {
        font-size: 15px;
        line-height: 18px;
        margin-top: -4px;
        margin-bottom: -5px;
    }

    @media #{$medium-up} {
        font-size: 17px;
        line-height: 30px;
        margin-top: -10px;
        margin-bottom: -10px;
        letter-spacing: 1px;
    }

    @media #{$xlarge-up} {
        font-size: 17px;
        line-height: 30px;
        margin-top: -10px;
        margin-bottom: -10px;
        letter-spacing: 1px;
    }
}

.font-pitch-caps {
    @include font-pitch-caps();
}

@mixin font-pitch-paragraph() {
    font-family: $font-family-pitch !important;
    display: block;

    @media #{$small-only} {
        font-size: 15px;
        line-height: 18px;
        margin-top: -4px;
        margin-bottom: -5px;
    }

    @media #{$medium-up} {
        font-size: 17px;
        line-height: 24px;
        margin-top: -7px;
        margin-bottom: -7px;
    }

    @media #{$xlarge-up} {
        font-size: 17px;
        line-height: 24px;
        margin-top: -7px;
        margin-bottom: -7px;
    }
}

.font-pitch-paragraph {
    @include font-pitch-paragraph();
}

