---
title: Our Mission
page_css: about.css
page_js: about.js
---
<div class="container">

    <section class="nav-hero">
        <div class="row full-width bg-color-gray-tint-15 small-padding-bottom-6x medium-padding-bottom-14x">
            <div class="small-12 columns">
                {{> logo-bar}}
            </div>

            <div class="small-12 columns text-center xlarge-margin-top-12x small-margin-top-6x">
                <div class="row">
                    <div class="small-12 columns small-margin-bottom-5x medium-margin-bottom-6x">
                        <h1 class="font-color-purple-primary">Our Mission</h1>
                    </div>
                    <div class="small-12 columns">
                        <span class="font-tiempos-header-midhead-sub font-color-teal-dark">
                            Our mission is to cultivate goodness<br class="hide-for-small" />
                            and uproot ugliness through<br class="hide-for-small" />
                            design, media and technology that<br class="hide-for-small" />
                            empower and inspire humanity.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row full-width collapse">
        <div class="small-12 columns video-wrapper" id="about-video-wrapper">
            <iframe src="//player.vimeo.com/video/74652065?title=0&amp;byline=0&amp;autoplay=0&amp;portrait=0&amp;color=ffffff" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="show-for-small"></iframe>
            <video id="about-video" width="320" height="180" preload class="show-for-medium-up">
                <source src="../assets/videos/grain-mission.mp4" type="video/mp4">
                <source src="../assets/videos/grain-mission.ogv" type="video/ogg">
                src=""
            </video>
        </div>
    </div>

    <div class="row full-width bg-color-white-primary small-padding-top-7x small-padding-bottom-6x medium-padding-top-9x medium-padding-bottom-16x">
        <div class="small-12 columns centered">
            <div class="row">
                <div class="small-12 medium-6 columns small-margin-bottom-9x medium-margin-bottom-0x">
                    <div class="row">
                        <div class="small-12 columns small-margin-bottom-5x xlarge-margin-bottom-7x">
                            <p class="font-tiempos-header-midhead-sub font-color-teal-dark">
                                We are a band of thinkers, strategists, designers, technologists, filmmakers and writers. All of us are optimists at the core.
                            </p>
                        </div>
                        <!-- <div class="small-12 columns">
                            <span class="font-national-header-regular font-color-teal-dark">
                                – Michael Eisner, former CEO of Disney
                            </span>
                        </div> -->
                    </div>
                </div>
                <div class="small-12 medium-6 columns">
                    <p class="font-national-paragraph font-color-purple-dark small-margin-bottom-4x medium-margin-bottom-6x">
                        We believe the value of a brand should shine through every last
                        detail. And your value proposition – the answers to why you exist
                        and what you have to offer – has to be made magnetic. Perhaps you’ve
                        already uncovered answers to the core questions that drive your
                        business. But how are you differentiated from your competition? What
                        are you doing to engage, educate and excite the people you want to
                        reach? How do you capture your audience, wherever they may be?
                    </p>
                    <p class="font-national-paragraph font-color-purple-dark small-margin-bottom-4x medium-margin-bottom-6x">
                        Grain can help. It starts with a powerful strategy. Then you need
                        great content, design and video. These things can make the
                        difference between merely snagging someone’s attention for a
                        fleeting moment, and engaging their attention long enough to compel
                        action. Design and moving images select the audience. The right
                        content brings them home. And the right medium and technology makes
                        it all work.
                    </p>
                    <p class="font-national-paragraph font-color-purple-dark small-margin-bottom-4x medium-margin-bottom-6x">
                        At Grain, our devotion to craftsmanship shines through every touch
                        point your customers have with the work we create. But we never lose
                        sight of your goals. We’re focused on holistic, creative solutions
                        that cultivate customer loyalty and lead to sustainable growth for
                        your organization.
                    </p>
                    <p class="font-national-paragraph font-color-purple-dark small-margin-bottom-4x medium-margin-bottom-6x">
                        We love what we do, and it shows. Groucho Marx said “If you’re not
                        having fun, you’re doing something wrong.” At the end of the day,
                        our hope is for you and your customers to experience what we feel
                        during the creative process: pure joy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
