---
title: Home
content_suffix_exists: true
page_css: home.css
page_js: home.js
---

<section class="home-hero-section nav-hero">
    <div class="row full-width relative home-hero-wrapper" id="home-hero-wrapper">
        <div class="inner-content-wrapper">
            <div class="small-12 columns">
                {{> logo-bar}}
            </div>
            <div class="small-12 medium-6 columns medium-margin-top-20x xlarge-margin-top-27x">
                <div class="row hide-for-small">
                    <div class="small-12 columns">
                        <hr class="no-margin no-padding" />
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns primary-header small-margin-top-7x">
                        <h1 class="font-color-white-primary small-text-center medium-text-left">Give your message the visibility it deserves.</h1>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 columns medium-margin-top-19x xlarge-margin-top-26x hide-for-small">
                <p class="font-tiempos-header-midhead font-color-white-primary">
                    Grain is a full-service creative firm. We work with
                    clients who seek to cultivate goodness and uproot ugliness.<br class="hide-for-custom-large-down" />
                    <a class="font-color-gray-tint-40 font-tiempos-header-midhead inline underline-color-gray-tint-40" href="about">Tell me more</a>
                </p>
            </div>
            <div class="small-12 columns show-for-small text-center small-margin-top-6x">
                <a class="font-color-gray-tint-40 font-tiempos-header-midhead inline underline-color-gray-tint-40" href="about">Tell me more</a>
            </div>
            <div class="small-12 columns text-center home-hero-explore-wrapper">
                <a href="javascript:void(0);" class="button button-teal">Explore</a>
            </div>
        </div>
        <div class="video-wrapper-overlay"></div>
        <div class="video-wrapper">
            <script>
            var rand = Math.floor(Math.random() * 3) + 1;
            document.write('<video id="home-video" width="640" height="360" loop autoplay muted preload><source src="assets/videos/grain' + rand + '.mp4" type="video/mp4"><source src="assets/videos/grain' + rand + '.ogv" type="video/ogg"></video>');
            </script>
        </div>
    </div>
</section>

<script>
    var min_height = 450;

    if (window.innerHeight > min_height) {
        document.getElementById('home-hero-wrapper').style.height = window.innerHeight + 'px';
    } else {
        document.getElementById('home-hero-wrapper').style.height = min_height + 'px';
    }
</script>

<!-- <section class="home-featured-section">
    <div class="row full-width relative">
    

    <div class="small-12 medium-6 columns home-featured-wrapper left">
        <div class="row">
            <div class="small-12 columns small-margin-top-3x xlarge-margin-top-5x">
                <span class="font-national-header-subhead font-color-white-primary text-upper">Featured Article</span>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns small-margin-top-2x xlarge-margin-top-3x">
                <span class="font-tiempos-header-midhead font-color-white-primary">Building Brands that Breathe</span>
            </div>
        </div>
        <div class="bg-color-teal-dark overlay"></div>
    </div>
    <div class="small-12 medium-6 columns home-featured-wrapper right">
        <div class="row">
            <div class="small-12 columns small-margin-top-3x xlarge-margin-top-5x">
                <span class="font-national-header-subhead font-color-white-primary text-upper">Featured Article</span>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns small-margin-top-2x xlarge-margin-top-3x">
                <span class="font-tiempos-header-midhead font-color-white-primary">International Classical Music Database</span>
            </div>
        </div>
        <div class="bg-color-red-dark overlay"></div>
        </div>
    </div>
</section> -->

<section class="home-services-section">
    <div class="row collapse xlarge-padding-top-16x small-padding-top-6x medium-padding-top-10x medium-padding-bottom-10x xlarge-padding-bottom-16x small-padding-bottom-5x">
    <!-- Used to fade in the lower page nav trigger. -->
    <div id="nav-trigger"></div>
        <div class="small-12 medium-8 columns">
            <div class="row">
                <div class="small-12 columns">
                    <span class="font-tiempos-header-midhead font-color-purple-primary">Our Services</span>
                </div>
            </div>
            <div class="row hide-for-small">
                <div class="small-12 columns medium-margin-top-6x xlarge-margin-top-7x">
                    <div class="font-tiempos-header-midhead font-color-teal-dark">
                        Do you have a product or service that adds real value to people’s lives?
                        Do you want to cultivate a loyal following? We can help. From strategy
                        through branding, content, design, technology and video, Grain creates
                        compelling experiences for human beings.
                        <!-- <a class="font-tiempos-header-midhead font-color-teal-dark inline" href="#">Find out more</a> -->
                    </div>
                </div>
            </div>

            <div class="row show-for-small">
                <div class="small-12 columns small-margin-top-4x">
                    <div class="font-national-header-regular font-color-purple-primary">
                        Do you have a product or service that adds real value to people’s lives?
                        Do you want to cultivate a loyal following? We can help. From strategy
                        through branding, content, design, technology and video, Grain creates
                        compelling experiences for human beings.
                    </div>
                </div>
                <!-- <div class="small-12 columns small-margin-top-4x">
                    <a class="font-national-header-regular font-color-purple-primary underline-color-purple-primary inline small-" href="#">Find out more</a>
                </div> -->
            </div>
        </div>
        <div class="small-12 medium-4 columns small-margin-top-5x medium-margin-top-0x">
            <div class="row">
                <div class="small-12 columns">
                    <div class="home-services-diagram-wrapper">
                        {{> services-diagram}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width home-services-tabular-section" service-boxes-equal-height>
        <div class="small-12 medium-6 large-3 xlarge-3 columns home-services-box">
            <div class="content-wrapper">
                <div class="row">
                    <div class="small-12 columns small-margin-top-4x medium-margin-top-6x xlarge-margin-top-8x measure">
                        <span class="font-national-header-subhead font-color-white-primary">Marketing &amp; Strategy</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns small-margin-top-2x medium-margin-top-3x xlarge-margin-top-3x">
                        <p class="font-national-paragraph font-color-white-primary">
                            How do you ensure that your message is heard and seen above the
                            roar? You need a solid strategy and compelling content that will
                            help your signal cut through the noise.
                        </p>
                    </div>
                </div>
                <!-- <div class="row arrow-wrapper">
                    <div class="small-12 columns">
                        <div class="services-arrow-wrapper" ng-include="svgTemplates.servicesArrow"></div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="small-12 medium-6 large-3 xlarge-3 columns home-services-box">
            <div class="content-wrapper">
                <div class="row">
                    <div class="small-12 columns small-margin-top-4x medium-margin-top-6x xlarge-margin-top-8x measure">
                        <span class="font-national-header-subhead font-color-white-primary">Branding &amp; Design</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns small-margin-top-2x medium-margin-top-3x xlarge-margin-top-3x">
                        <p class="font-national-paragraph font-color-white-primary">
                            Through thoughtful positioning, immersive experiences and great
                            design, Grain can help you communicate your brand’s true identity
                            and experience unprecedented growth.
                        </p>
                    </div>
                </div>
                <!-- <div class="row arrow-wrapper">
                    <div class="small-12 columns">
                        <div class="services-arrow-wrapper" ng-include="svgTemplates.servicesArrow"></div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="small-12 medium-6 large-3 xlarge-3 columns home-services-box">
            <div class="content-wrapper">
                <div class="row">
                    <div class="small-12 columns small-margin-top-4x medium-margin-top-6x xlarge-margin-top-8x measure">
                        <span class="font-national-header-subhead font-color-white-primary">Web &amp; App Development</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns small-margin-top-2x medium-margin-top-3x xlarge-margin-top-3x">
                        <p class="font-national-paragraph font-color-white-primary">
                            A great website can be your most important communication tool. From
                            mobile to desktops, our websites can help your business perform
                            better and clearly communicate your message.
                        </p>
                    </div>
                </div>
                <!-- <div class="row arrow-wrapper">
                    <div class="small-12 columns">
                        <div class="services-arrow-wrapper" ng-include="svgTemplates.servicesArrow"></div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="small-12 medium-6 large-3 xlarge-3 columns home-services-box">
            <div class="content-wrapper">
                <div class="row">
                    <div class="small-12 columns small-margin-top-4x medium-margin-top-6x xlarge-margin-top-8x measure">
                        <span class="font-national-header-subhead font-color-white-primary">Video Production</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns small-margin-top-2x medium-margin-top-3x xlarge-margin-top-3x">
                        <p class="font-national-paragraph font-color-white-primary">
                            When good stories are captured as moving images,
                            they can ignite imaginations, win followers and
                            foster relationships. Let Grain tell your story
                            through authentic, winsome videos.
                        </p>
                    </div>
                </div>
                <!-- <div class="row arrow-wrapper">
                    <div class="small-12 columns">
                        <div class="services-arrow-wrapper" ng-include="svgTemplates.servicesArrow"></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- <div class="row full-width show-for-small home-services-tabular-section--small"> -->
        <!-- <div class="small-12 columns home-services-box--small small-padding-top-6x"> -->
            <!-- <span class="title font-national-header-bold-cat font-color-white-primary">Marketing &amp; Strategy</span> -->
            <!-- <div class="arrow-wrapper" ng-include="svgTemplates.servicesArrow"></div> -->
        <!-- </div> -->
        <!-- <div class="small-12 columns home-services-box--small small-padding-top-6x"> -->
            <!-- <span class="font-national-header-bold-cat font-color-white-primary">Branding &amp; Design</span> -->
            <!-- <div class="arrow-wrapper" ng-include="svgTemplates.servicesArrow"></div> -->
        <!-- </div> -->
        <!-- <div class="small-12 columns home-services-box--small small-padding-top-6x"> -->
            <!-- <span class="font-national-header-bold-cat font-color-white-primary">Web &amp; App Development</span> -->
            <!-- <div class="arrow-wrapper" ng-include="svgTemplates.servicesArrow"></div> -->
        <!-- </div> -->
        <!-- <div class="small-12 columns home-services-box--small small-padding-top-6x"> -->
            <!-- <span class="font-national-header-bold-cat font-color-white-primary">Video Production</span> -->
            <!-- <div class="arrow-wrapper" ng-include="svgTemplates.servicesArrow"></div> -->
        <!-- </div> -->
    <!-- </div> -->


    <div class="row full-width xlarge-padding-top-16x medium-padding-top-10x small-padding-top-6x home-recent-work-section">
        <div class="small-12 columns text-center xlarge-padding-bottom-8x small-padding-bottom-6x">
            <span class="font-tiempos-header-midhead font-color-purple-primary">Recent Work</span>
        </div>

        <a href="http://www.mayorslay.com" target="_blank">
            <div class="small-12 medium-4 columns collapse bg-color-black-primary home-portfolio-box">
                <div class="equal-height-ratio"></div>
                <div class="inner-content">
                    <div class="hover-wrapper">
                        <div class="title-wrapper">
                            <span class="font-color-purple-primary font-national-header-bold">Mayor Slay</span>
                        </div>
                        <img class="color" alt="" src="assets/images/assets/portfolio/slay@2x.png" />
                    </div>
                    <img alt="" src="assets/images/assets/portfolio/slay-bw@2x.png" />
                </div>
            </div>
        </a>
        <div class="small-12 medium-4 columns collapse bg-color-purple-dark home-portfolio-box">
            <div class="equal-height-ratio"></div>
            <div class="inner-content">
                <div class="hover-wrapper">
                    <div class="title-wrapper">
                        <span class="font-color-purple-primary font-national-header-bold">Millstone Weber</span>
                    </div>
                    <img class="color" alt="" src="assets/images/assets/portfolio/millstone-weber@2x.jpg" />
                </div>

                <img alt="" src="assets/images/assets/portfolio/millstone-weber-bw@2x.jpg" />
            </div>
        </div>
        <a href="http://vimeo.com/85537366" target="_blank">
            <div class="small-12 medium-4 columns collapse bg-color-black-primary home-portfolio-box">
                <div class="equal-height-ratio"></div>
                <div class="inner-content">
                     <div class="hover-wrapper">
                        <div class="title-wrapper">
                            <span class="font-color-purple-primary font-national-header-bold">MSD</span>
                        </div>
                        <img class="color" alt="" src="assets/images/assets/portfolio/msd@2x.jpg" />
                    </div>
                    <img alt="" src="assets/images/assets/portfolio/msd-bw@2x.jpg" />
                </div>
            </div>
        </a>
        <div class="small-12 medium-4 columns collapse bg-color-purple-dark home-portfolio-box">
            <div class="equal-height-ratio"></div>
            <div class="inner-content">
                <div class="hover-wrapper">
                    <div class="title-wrapper">
                        <span class="font-color-purple-primary font-national-header-bold">World Magazine</span>
                    </div>
                    <img class="color" alt="" src="assets/images/assets/portfolio/world-book@2x.jpg" />
                </div>

                <img alt="" src="assets/images/assets/portfolio/world-book-bw@2x.jpg" />
            </div>
        </div>
        <div class="small-12 medium-4 columns collapse bg-color-black-primary home-portfolio-box">
            <div class="equal-height-ratio"></div>
            <div class="inner-content">
                <div class="hover-wrapper">
                    <div class="title-wrapper">
                        <span class="font-color-purple-primary font-national-header-bold">International Classical Music Database</span>
                    </div>
                    <img class="color" alt="" src="assets/images/assets/portfolio/icmd@2x.jpg" />
                </div>

                <img alt="" src="assets/images/assets/portfolio/icmd-bw@2x.jpg" />
            </div>
        </div>
        <a href="http://apply.law.wustl.edu/" target="_blank">
            <div class="small-12 medium-4 columns collapse bg-color-purple-dark home-portfolio-box">
                <div class="equal-height-ratio"></div>
                <div class="inner-content">
                    <div class="hover-wrapper">
                        <div class="title-wrapper">
                            <span class="font-color-purple-primary font-national-header-bold">WashU School of Law</span>
                        </div>
                        <img class="color" alt="" src="assets/images/assets/portfolio/wustl@2x.png" />
                    </div>

                    <img alt="" src="assets/images/assets/portfolio/wustl-bw@2x.png" />
                </div>
            </div>
        </a>
    </div>

    <!-- <div class="row full-width">
        <div class="small-12 columns text-center xlarge-padding-top-8x xlarge-padding-bottom-8x small-padding-top-6x small-padding-bottom-6x">
            <a href="#" class="button button-red">View more work</a>
        </div>
    </div> -->

    <!-- <div class="row full-width show-for-small">
        <div class="small-12 columns text-center">
            <div class="hr bg-color-gray-tint-30"></div>
        </div>
    </div> -->
</section>

<section class="home-company-section">
    <div class="row collapse">
        <div class="small-12 columns text-center xlarge-padding-top-16x medium-padding-top-10x small-padding-top-6x">
            <div class="row">
                <div class="small-12 columns">
                    <span class="font-tiempos-header-midhead font-color-purple-primary">Our Company</span>
                </div>
            </div>
        </div>
        <div class="small-12 columns xlarge-padding-bottom-8x small-padding-bottom-6x">
            <div class="row">
                <div class="small-12 medium-8 medium-centered columns xlarge-padding-top-7x xlarge-padding-bottom-8x medium-padding-top-6x hide-for-small">
                    <span class="font-tiempos-header-midhead font-color-teal-dark text-center">
                        Meet the brains behind the beauty. Sample our latest articles, inspiration and more.
                    </span>
                </div>
                <div class="small-12 columns show-for-small small-margin-top-4x">
                    <span class="font-national-header-regular font-color-purple-primary text-center">
                        Meet the brains behind the beauty. Sample our latest articles, inspiration and more.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row full-width">
        <div class="small-12 medium-4 columns collapse home-company-box one">
            <div class="equal-height-ratio"></div>
            <div class="inner-content">
                <span class="font-national-header-subhead font-color-white-primary text-upper">Our Philosophy</span>
            </div>
            <div class="bg-color-purple-dark overlay"></div>
        </div>
        <div class="small-12 medium-4 columns collapse home-company-box two">
            <div class="equal-height-ratio"></div>
            <div class="inner-content">
                <div class="row">
                    <div class="small-12 columns">
                        <span class="font-national-header-subhead font-color-white-primary text-upper">Featured Team Member</span>
                    </div>
                    <div class="small-12 columns xlarge-margin-top-2x small-margin-top-3x">
                        <span class="font-national-header-bold font-color-white-primary">Jason Tasso</span>
                    </div>
                </div>
            </div>
            <div class="bg-color-teal-dark overlay"></div>
        </div>

        <div class="small-12 medium-4 columns collapse home-company-box three">
            <div class="equal-height-ratio"></div>
            <div class="inner-content">
                <div class="row">
                    <div class="small-12 columns">
                        <span class="font-national-header-subhead font-color-white-primary text-upper">Twitter</span>
                    </div>
                    <div class="small-12 columns xlarge-margin-top-9x small-margin-top-6x">
                        <a id="twitter-link" class="font-color-purple-tint-50 font-national-header-bold-sub" targe="_blank" href="https://twitter.com/GrainForAll">@Grainforall</a>
                    </div>
                    <div class="small-12 columns xlarge-margin-top-4x small-margin-top-3x">
                        <span id="latest-tweet" class="tweets font-national-header-regular font-color-purple-tint-50"></span>
                    </div>
                </div>

            </div>
            <div class="bg-color-purple-dark overlay"></div>
        </div>
    </div>
</section>

<section class="home-newsletter-section">
    <div class="row full-width">
        <div class="small-12 columns text-center small-padding-top-6x small-padding-bottom-6x xlarge-padding-top-16x medium-padding-top-10x xlarge-padding-bottom-16x medium-padding-bottom-10x">
            <div class="row">
                <div class="small-12 columns">
                    <span class="font-tiempos-header-midhead font-color-purple-primary">Subscribe to Our Newsletter</span>
                </div>
                <div class="small-12 columns xlarge-margin-top-6x small-margin-top-4x">
                    <p class="font-national-paragraph font-color-purple-primary xlarge-margin-t">
                        <span class="font-national-paragraph-italic inline">Uncommon</span> is
                        Grain’s monthly dispatch of insights and word snacks. We focus on
                        <br class="hide-for-small" />
                        strategic communication challenges that our clients face. We’ll also share
                        <br class="hide-for-small" />
                        our latest case study, a little current reading and a whole lotta love.
                    </p>
                </div>
            </div>

            <form method="post" action="" class="subscribe">
                <div class="row collapse xlarge-margin-top-8x small-margin-top-6x">
                    <div class="small-12 medium-5 large-3 xlarge-2 xlarge-offset-4 large-offset-3 medium-offset-1 small-offset-0 columns">
                        <input id="email-input" type="email" name="email" placeholder="Email Address" class="full-width text-center radius radius-left prefix" />
                    </div>
                    <div class="small-12 medium-5 large-3 xlarge-2 columns end small-margin-top-3x medium-margin-top-0x">
                        <a href="javascript:void(0);" class="button button-teal full-width radius-right postfix" id="subscribe-submit">Bring it</a>
                    </div>
                </div>
            </form>
            <div id="subscribe-form-status" class="font-national-paragraph-sub  font-color-purple-primary">&nbsp;</div>
        </div>
    </div>
</section>
