<div class="row logo-wrapper">
    <div class="small-12 columns">
        <a class="block" href="{{assets}}/../">
            <div class="logo">
                {{> logo}}
            </div>
            <div class="hide-for-small">
                <div class="logo-name">
                    {{> logo-name}}
                </div>
            </div>
        </a>
    </div>
</div>
