/**
 * Positioning.
 */
.relative {
    position: relative;
}

/**
 * Full width wrappers.
 */
.full-width {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/**
 * Inline / block.
 */
.inline {
	display: inline !important;
}
.block {
	display: block !important;
}
.inline-block {
	display: inline-block !important;
}

/**
 * Text alignment per viewport.
 */
@media #{$small-up} {
    .small-text-left {
        text-align: left;
    }
    .small-text-center {
        text-align: center;
    }
    .small-text-right {
        text-align: right;
    }
}

@media #{$medium-up} {
    .medium-text-left {
        text-align: left;
    }
    .medium-text-center {
        text-align: center;
    }
    .medium-text-right {
        text-align: right;
    }
}

@media #{$large-up} {
    .large-text-left {
        text-align: left;
    }
    .large-text-center {
        text-align: center;
    }
    .large-text-right {
        text-align: right;
    }
}

@media #{$xlarge-up} {
    .xlarge-text-left {
        text-align: left;
    }
    .xlarge-text-center {
        text-align: center;
    }
    .xlarge-text-right {
        text-align: right;
    }
}
