//
// @font-face Mixins
//
@mixin grain-font-face($family, $name){
	font-family: $name;
	font-weight: normal;
	src: url("../font/#{$family}/#{$name}.eot"); // IE9 Compat Modes
	src: url("../font/#{$family}/#{$name}.eot?#iefix") format("embedded-opentype"), // IE6-IE8
		 url("../font/#{$family}/#{$name}.woff") format("woff"); // Modern Browsers
	 	 // url("../font/#{$family}/#{$name}.otf") format("truetype"); // Safari, Android, iOS
}

//
// National
//
@font-face{
	@include grain-font-face('National', 'National-Regular');
}

@font-face{
	@include grain-font-face('National', 'National-RegularItalic');
}

@font-face{
	@include grain-font-face('National', 'National-Bold');
}

@font-face{
	// @include grain-font-face('National', 'National-Regu');
}

@font-face{
	@include grain-font-face('National', 'National-Extrabold');
}

@font-face{
	@include grain-font-face('National', 'National-ExtraboldItalic');
}

//
// Pitch
//
@font-face{
	@include grain-font-face('Pitch', 'Pitch-Regular');
}

//
// Tiempos Headline
//
@font-face{
	@include grain-font-face('Tiempos Headline', 'TiemposHeadline-Semibold');
}
