// No small left/right jump of content between short pages.
html {
    // overflow-y: auto;
}

body {
    overflow: hidden;
}

* {
    // -ms-overflow-style: none;
    // overflow: -moz-scrollbars-none;
    // &::-webkit-scrollbar { width: 0 !important; }
}

// Left/right-only border radius. Ignore on small where we don't typically
// inline multiple form elements.
@media #{$medium-up} {
    .radius-left {
        border-radius: $global-radius 0 0 $global-radius !important;
    }
    .radius-right {
        border-radius: 0 $global-radius $global-radius 0 !important;
    }
}

div.hr {
    height: 1px;
    width: 100%;
}

.browsehappy {
    margin: 1px 0;
    background: #CCC;
    color: #000;
    padding: 0.2em 0;
    text-align: center;
}

//
// Log (top left)
//
.logo-wrapper {
    .logo {
        float: left;

        @media #{$small-only} {
            margin: 20px 0 0 0;
        }

        @media #{$medium-up} {
            margin: 26px 0 0 0;
        }

        width: 55px;
        height: 67px;



        svg {
            path.logo {
                fill: $color-white-primary;
            }
        }
    }

    .logo-name {
        float: left;
        margin: 43px 0 0 14px;
    }

}

//
// Nav
//
.nav-trigger-top-wrapper {
    position: absolute;
    z-index: 150;
    right: 0px;

    -webkit-backface-visibility: hidden;

    // background-color: $color-white-primary;
    @include transition(right 0.5s ease-in-out);

    @media #{$small-only} {
        top: 0;
        width: 62px;
    }

    @media #{$medium-up} {
        top: 0px;
        width: 118px;
    }

    &.active {
        right: 240px;
        @include transition(right 0.5s ease-in-out);
    }

    .nav-logo {
        display: block;
        width: 55px;
        height: 67px;
        margin-top: 18px;
        margin-left: 18px;
    }

    .nav-elems{
        display: block;

        @media #{$small-only} {
            padding: 40px 0 18px 18px;
        }

        @media #{$medium-up} {
            padding: 45px 0 24px 0;
        }

        svg {
            path {
                fill: $color-white-primary;
            }
        }

        div.name, div.lines {
            float: left;
        }

        div.name {
            margin-right: 14px;
            padding-top: 8px;

            @media #{$small-only} {
                display: none;
            }
        }
    }

    & > nav {
        position: fixed;
        background-color: $color-purple-primary;
        width: 240px;
        height: 600px;
        position: absolute;
        top: 0;

        @media #{$small-only} {
            left: 62px;
        }

        @media #{$medium-up} {
            left: 132px;
        }

        a {
            display: block;
            font-family: $font-family-pitch;
            font-size: 17px;
            line-height: 30px;
            color: $color-purple-tint-50;
            padding: 6px 18px;
            border-top: 2px solid $color-purple-dark;
            @include transition(color 0.2s ease-in-out, background-color 0.2s ease-in-out);

            &.active {
                color: $color-white-primary;
                background-color: $color-purple-dark;
                @include transition(color 0.2s ease-in-out, background-color 0.2s ease-in-out);
            }

            &:hover {
                color: $color-white-primary;
                @include transition(color 0.2s ease-in-out, background-color 0.2s ease-in-out);
            }
        }

        nav {
            background-color: $color-purple-dark;
            height: 0px;
            overflow: hidden;
            @include transition(height 0.5s ease-in-out);

            &.active {
                height: 300px;
                @include transition(height 0.5s ease-in-out);
            }
        }
    }
}

.nav-trigger-body-wrapper {
    position: fixed;
    z-index: 150;
    right: 0;
    top: 0;
    background: $color-white-primary;
    text-align: center;
    padding: 18px;
    -webkit-backface-visibility: hidden;

    visibility: hidden;

    @include opacity(0);
    @include transition(right $transition-speed-normal, opacity $transition-speed-normal);

    &.active {
        @include opacity(1);
        @include transition(opacity $transition-speed-normal);
    }

    // @media #{$small-only} {
    //     right: 240px;
    // }

    // @media #{$medium-up} {
    //     right: 300px;
    // }

    // @include transition(right $transition-speed-very-fast ease-in);



    &:hover {
        div.logo {
            svg {
                path.logo {
                    fill: $color-purple-primary;
                    @include transition(fill $transition-speed-normal);
                }
            }
        }

        div.lines {
            svg {
                path {
                    fill: $color-purple-primary;
                    @include transition(fill $transition-speed-normal);
                }
            }
        }

    }

    .logo {
        @media #{$small-only} {
            display: none;
        }
        @media #{$medium-up} {
            margin-bottom: 18px;
            display: block !important;
        }

        svg {
            path.logo {
                @include transition(fill $transition-speed-normal);
            }
        }
    }

    .lines {
        svg {
            path {
                @include transition(fill $transition-speed-normal);
            }
        }
    }
}

//
// Off Canvas Layout
//
.nav-wrapper {

    ul {

        a {
            font-family: $font-family-pitch;
            font-size: 17px;
            // line-height: 30px;
            color: $color-purple-tint-50;
            // padding: 6px 18px;
            // border-top: 2px solid $color-purple-dark;
            @include transition(color 0.2s ease-in-out, background-color 0.2s ease-in-out);

            &.active {
                color: $color-white-primary;
                background-color: $color-purple-dark;
                @include transition(color 0.2s ease-in-out, background-color 0.2s ease-in-out);
            }

            &:hover {
                color: $color-white-primary;
                @include transition(color 0.2s ease-in-out, background-color 0.2s ease-in-out);
            }
        }

        li:first-child {
            a {
                // border-top: 2px solid transparent;
            }
        }
    }
}

.main-content-wrapper {
    width: 100%;
    background: $color-gray-tint-15;
    position: absolute;
    left: 0;
    z-index: 5;
    @include transition(left $transition-speed-normal ease-in);
    @include opacity(0);

    &.open {

        // @include box-shadow(#451761 1px 0 2px 0);

        .active-overlay {
            @include opacity(0.5);
            z-index: 500;

            @include transition(opacity $transition-speed-normal);

        }
    }

    // @include box-shadow(#451761 1px 0 2px 0);

    .container {

        @include opacity(1);
        @include transition(opacity $transition-speed-normal);

        &.fadedOut {
            @include opacity(0);
            @include transition(opacity $transition-speed-normal);
        }
    }

    .active-overlay {
        background-color: $color-black-primary;
        @include opacity(0.0);
        z-index: -1;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

    }



    &.ready {
        @include opacity(1);
        @include transition(left $transition-speed-normal ease, opacity $transition-speed-slow ease);
    }

    &.active {
        position: absolute;

         @media #{$small-only} {
            left: -240px;
        }

        @media #{$medium-up} {
            left: -300px;
        }

        @include transition(left $transition-speed-very-fast ease-in);

    }
}

.fade-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include opacity(0);
    background-color: $color-gray-tint-15;

    &.active {
        z-index: 10000;
        @include opacity(1);
        @include transition(opacity $transition-speed-slow);
    }
}

.dark-background {
    width: 100%;
    height: 100%;
    background-color: $color-gray-primary;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    @media #{$small-only} {
        display: none;
    }

    .logo {
        width: 55px;
        height: 67px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -27px;
        margin-top: -34px;
        -webkit-backface-visibility: hidden;

        svg {
            path {
                fill: #FFFFFF;
            }
        }
    }
}

footer {
    .logo-name {
        width: 112px;
        height: 32px;
        display: block;
        margin: 0 auto;
    }

    .footer-box {
        @media #{$medium-up} {
            border-right: 1px solid $color-purple-really-dark;
            height: 166px;
        }

        &:last-child {
            @media #{$medium-up} {
                border-right: none;
            }
        }
    }

    a {
        border-bottom: 1px solid transparent;
        @include transition(border-bottom $transition-speed-normal);

        &:hover {
            border-bottom: 1px solid $color-white-primary;
            @include transition(border-bottom $transition-speed-normal);
        }

    }
}
