.text-upper {
  text-transform: uppercase; }

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'National-Regular'; }

p {
  font-family: 'National-Regular'; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'TiemposHeadline-Semibold';
  margin: 0; }

@media only screen {
  h1 {
    font-size: 34px;
    line-height: 36px;
    margin-top: -4px;
    margin-bottom: -8px; } }
@media only screen and (min-width:768px) {
  h1 {
    font-size: 44px;
    line-height: 48px;
    margin-top: -7px;
    margin-bottom: -8px; } }
@media only screen and (min-width:1440px) {
  h1 {
    font-size: 60px;
    line-height: 66px;
    margin-top: -7px;
    margin-bottom: -16px; } }

.font-tiempos-header-midhead {
  font-family: 'TiemposHeadline-Semibold' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-tiempos-header-midhead {
      font-size: 25px;
      line-height: 30px;
      margin-top: -4px;
      margin-bottom: -8px; } }
  @media only screen and (min-width:768px) {
    .font-tiempos-header-midhead {
      font-size: 30px;
      line-height: 36px;
      margin-top: -4px;
      margin-bottom: -10px; } }
  @media only screen and (min-width:1440px) {
    .font-tiempos-header-midhead {
      font-size: 40px;
      line-height: 48px;
      margin-top: -6px;
      margin-bottom: -13px; } }

.font-tiempos-header-midhead-sub {
  font-family: 'TiemposHeadline-Semibold' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-tiempos-header-midhead-sub {
      font-size: 25px;
      line-height: 30px;
      margin-top: -4px;
      margin-bottom: -8px; } }
  @media only screen and (min-width:768px) {
    .font-tiempos-header-midhead-sub {
      font-size: 30px;
      line-height: 36px;
      margin-top: -4px;
      margin-bottom: -10px; } }
  @media only screen and (min-width:1440px) {
    .font-tiempos-header-midhead-sub {
      font-size: 40px;
      line-height: 48px;
      margin-top: -6px;
      margin-bottom: -13px; } }
  @media only screen and (max-width: 767px) {
    .font-tiempos-header-midhead-sub {
      font-size: 20px;
      line-height: 24px;
      margin-top: -3px;
      margin-bottom: -6px; } }

.font-national-header-subhead {
  font-family: 'National-Bold' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-national-header-subhead {
      font-size: 18px;
      line-height: 24px;
      margin-top: -6px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:768px) {
    .font-national-header-subhead {
      font-size: 20px;
      line-height: 26px;
      margin-top: -7px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:1440px) {
    .font-national-header-subhead {
      font-size: 22px;
      line-height: 30px;
      margin-top: -8px;
      margin-bottom: -9px; } }

.font-national-header-bold {
  font-family: 'National-Bold' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-national-header-bold {
      font-size: 18px;
      line-height: 24px;
      margin-top: -6px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:768px) {
    .font-national-header-bold {
      font-size: 22px;
      line-height: 26px;
      margin-top: -6px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:1440px) {
    .font-national-header-bold {
      font-size: 28px;
      line-height: 30px;
      margin-top: -6px;
      margin-bottom: -7px; } }

.font-national-header-bold-sub {
  font-family: 'National-Bold' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-national-header-bold-sub {
      font-size: 18px;
      line-height: 24px;
      margin-top: -6px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:768px) {
    .font-national-header-bold-sub {
      font-size: 20px;
      line-height: 26px;
      margin-top: -7px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:1440px) {
    .font-national-header-bold-sub {
      font-size: 22px;
      line-height: 30px;
      margin-top: -8px;
      margin-bottom: -9px; } }

.font-national-header-bold-cat {
  font-family: 'National-Bold' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-national-header-bold-cat {
      font-size: 24px;
      line-height: 24px;
      margin-top: -4px;
      margin-bottom: -5px; } }
  @media only screen and (min-width:768px) {
    .font-national-header-bold-cat {
      font-size: 28px;
      line-height: 30px;
      margin-top: -6px;
      margin-bottom: -7px; } }

.font-national-header-regular {
  font-family: 'National-Regular' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-national-header-regular {
      font-size: 18px;
      line-height: 24px;
      margin-top: -6px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:768px) {
    .font-national-header-regular {
      font-size: 22px;
      line-height: 28px;
      margin-top: -7px;
      margin-bottom: -8px; } }
  @media only screen and (min-width:1440px) {
    .font-national-header-regular {
      font-size: 28px;
      line-height: 30px;
      margin-top: -6px;
      margin-bottom: -7px; } }

.font-national-header-regular-sub {
  font-family: 'National-Regular' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-national-header-regular-sub {
      font-size: 18px;
      line-height: 24px;
      margin-top: -6px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:768px) {
    .font-national-header-regular-sub {
      font-size: 20px;
      line-height: 26px;
      margin-top: -7px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:1440px) {
    .font-national-header-regular-sub {
      font-size: 22px;
      line-height: 30px;
      margin-top: -8px;
      margin-bottom: -9px; } }

.font-national-button {
  font-family: 'National-Bold' !important; }
  @media only screen and (max-width: 767px) {
    .font-national-button {
      font-size: 18px;
      line-height: 24px; } }
  @media only screen and (min-width:768px) {
    .font-national-button {
      font-size: 20px;
      line-height: 26px; } }
  @media only screen and (min-width:1440px) {
    .font-national-button {
      font-size: 22px;
      line-height: 30px; } }

.font-national-paragraph {
  font-family: 'National-Regular' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-national-paragraph {
      font-size: 18px;
      line-height: 24px;
      margin-top: -6px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:768px) {
    .font-national-paragraph {
      font-size: 20px;
      line-height: 26px;
      margin-top: -7px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:1440px) {
    .font-national-paragraph {
      font-size: 22px;
      line-height: 30px;
      margin-top: -8px;
      margin-bottom: -8px; } }

.font-national-paragraph-italic {
  font-family: 'National-RegularItalic' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-national-paragraph-italic {
      font-size: 18px;
      line-height: 24px;
      margin-top: -6px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:768px) {
    .font-national-paragraph-italic {
      font-size: 20px;
      line-height: 26px;
      margin-top: -7px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:1440px) {
    .font-national-paragraph-italic {
      font-size: 22px;
      line-height: 30px;
      margin-top: -8px;
      margin-bottom: -9px; } }

.font-national-tagline-footer {
  font-family: 'National-Bold' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-national-tagline-footer {
      font-size: 15px;
      line-height: 30px;
      margin-top: -10px;
      margin-bottom: -11px; } }
  @media only screen and (min-width:768px) {
    .font-national-tagline-footer {
      font-size: 18px;
      line-height: 30px;
      margin-top: -9px;
      margin-bottom: -10px; } }
  @media only screen and (min-width:1440px) {
    .font-national-tagline-footer {
      font-size: 22px;
      line-height: 30px;
      margin-top: -8px;
      margin-bottom: -9px; } }

.font-pitch-caps {
  font-family: 'Pitch-Regular' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-pitch-caps {
      font-size: 15px;
      line-height: 18px;
      margin-top: -4px;
      margin-bottom: -5px; } }
  @media only screen and (min-width:768px) {
    .font-pitch-caps {
      font-size: 17px;
      line-height: 30px;
      margin-top: -10px;
      margin-bottom: -10px;
      letter-spacing: 1px; } }
  @media only screen and (min-width:1440px) {
    .font-pitch-caps {
      font-size: 17px;
      line-height: 30px;
      margin-top: -10px;
      margin-bottom: -10px;
      letter-spacing: 1px; } }

.font-pitch-paragraph {
  font-family: 'Pitch-Regular' !important;
  display: block; }
  @media only screen and (max-width: 767px) {
    .font-pitch-paragraph {
      font-size: 15px;
      line-height: 18px;
      margin-top: -4px;
      margin-bottom: -5px; } }
  @media only screen and (min-width:768px) {
    .font-pitch-paragraph {
      font-size: 17px;
      line-height: 24px;
      margin-top: -7px;
      margin-bottom: -7px; } }
  @media only screen and (min-width:1440px) {
    .font-pitch-paragraph {
      font-size: 17px;
      line-height: 24px;
      margin-top: -7px;
      margin-bottom: -7px; } }

.dark-background {
  display: none; }

.logo-wrapper .logo svg path.logo, .logo-wrapper svg path {
  fill: #5c217f !important; }

.nav-trigger-top-wrapper:hover svg path {
  fill: #5c217f !important;
  -webkit-transition: fill, 300ms;
  -webkit-transition-delay: 0s;
  -moz-transition: fill, 300ms;
  -o-transition: fill, 300ms;
  transition: fill 300ms; }
.nav-trigger-top-wrapper svg path {
  fill: #827c7a !important;
  -webkit-transition: fill, 300ms;
  -webkit-transition-delay: 0s;
  -moz-transition: fill, 300ms;
  -o-transition: fill, 300ms;
  transition: fill 300ms; }
@media only screen and (max-width: 767px) {
  .nav-trigger-top-wrapper svg path {
    fill: #5c217f !important; } }

#about-video {
  display: box;
  box-align: center;
  min-width: 640px;
  margin: 0 auto 0; }

.video-wrapper {
  overflow: hidden; }
  @media only screen and (max-width: 400px) {
    .video-wrapper {
      height: 200px; } }
  @media only screen and (min-width: 401px) and (max-width: 500px) {
    .video-wrapper {
      height: 240px; } }
  @media only screen and (min-width: 501px) and (max-width: 600px) {
    .video-wrapper {
      height: 280px; } }
  @media only screen and (min-width: 601px) and (max-width: 700px) {
    .video-wrapper {
      height: 360px; } }
  @media only screen and (min-width: 701px) and (max-width: 767px) {
    .video-wrapper {
      height: 380px; } }
